# JetBrains
.idea/

# ESP-IDF build output
build/
cmake-build-debug/

# ESP-IDF local/generated
sdkconfig.old
managed_components/
sdkconfig

# Python
venv/
.venv/
__pycache__/

# OS
.DS_Store
Thumbs.db
